# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [5]:
# Create an object with a value of 2
a = 2

# Check the data type
type(a)

int

In [6]:
# Create an object with a value of 1086J
b = 1086J

# Check the data type

type(b)

complex

In [7]:
# Create an object with a value of 3.14567
c = 3.14567

# Check the data type
type(c)

float

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [8]:
# Printing your name
My_Name = "Risav Ganguly"

# Check the results of the My_Name variable
My_Name

'Risav Ganguly'

In [9]:
# Check the data type of the My_Name variable
type(My_Name)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [10]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")
Name = input("What is your name?")

# Use a print statement to check your input. Add a greeting to your statement.
# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")
print (Name)

# Now use a print statement to tell the user the data type.
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))

print(f'Your name is a {type(Name)}') #I prefer using an f string over a comma

What is your name?Risav Ganguly
Risav Ganguly
Your name is a <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [11]:
# Let's check how many characters does your name contain.
# Syntax: len(variableName)
len(Name)

13

In [12]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: variableName.isupper()
Name.isupper()

False

In [13]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()

Name = Name.upper()
# Call the variable using the variable name.
Name

'RISAV GANGULY'

In [14]:
# Check the uppercase again,
# Now the output of isupper() changes to True.
Name.isupper()

True

In [31]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence='Howard is a R1 University'

# Use a print statement to view your new_sentence
print (f'Before Capitalizing - {new_sentence}')
# Use the .upper() method in a print statement to print the upper case sentence
# HINT: Use a print statement, your variable name, and the .upper() method
new_sentence = new_sentence.upper()
print (f'After Capitalizing - {new_sentence}')

# Use the .capitalize() method to print the sentence with the first word capitalized.
print (f'Capitalizing with capitalize - {new_sentence.capitalize()}')
# Use the .title() method to print the sentence with the first letter of each word capitalized.
print (f'Capitalizing with title - {new_sentence.title()}')

Before Capitalizing - Howard is a R1 University
After Capitalizing - HOWARD IS A R1 UNIVERSITY
Capitalizing with capitalize - Howard is a r1 university
Capitalizing with title - Howard Is A R1 University

In [35]:
# Check the data type of the object you just created.
new_sentence1 = "Hello Howard"
type(new_sentence1)

str

In [38]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()
new_sentence1.isupper()

False

In [39]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question
new_sentence1.islower()

False

In [41]:
# Challenge - Convert your object into all caps.
new_sentence1.upper()

'HELLO HOWARD'

In [42]:
# Challenge - Convert your object into all lower case.

new_sentence1.lower()

'hello howard'

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [43]:
# Create two variables, one with a value of True, one with a value of False
a = True
b = False

# Check the data type of your variables.
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [44]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma
b = False
type(a), type(b)

(bool, bool)

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [45]:
# Create an object containing an integer.
a = 1

In [46]:
# Check the data type of your new object
type(a)

int

In [47]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)
a = str(a)

In [49]:
# Check the data type of your new object again.
type (a)

str

In [50]:
# Exercise for you. Store the number 123456 as string.
a = '123456'
# Check the data type
type(a)

str

In [52]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string
a = '245'
# Check the data type of your variable
type(a)

str

In [53]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)
a = int(a)
# Check the data type
type(a)

int

In [54]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
a = float(a)
# Check the data type
type(a)

float

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.